{#
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         2.0.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
#}
{% set fields = Bake.filterFields(fields, schema, modelObject) %}

<!-- Hero -->
<div class="row">
    <div class="col-md-12">
        <h1><?= __('{{ pluralHumanName }}') ?></h1>
    </div>
</div>
<!-- END Hero -->

<!-- Page Content -->
<div class="row">
    <div class="col-md-12">

        <div class="text-right mb-3">
            <?= $this->Html->link('<i class="far fa-list-alt"></i>', ['action' => 'index'], ['class' => 'btn btn-light',
            'escape' => false]) ?>
            {% if strpos(action, 'add') is same as(false) %}
                <?= $this->Form->postLink(
                           '<i class="far fa-trash-alt"></i>',
                ['action' => 'delete', ${{ singularVar }}->{{ primaryKey[0] }}],
                ['confirm' => __('Are you sure you want to delete # {0}?', ${{ singularVar }}->{{ primaryKey[0] }}), 'class' => 'btn btn-primary ml-2', 'escape' => false]
                )
                ?>
            {% endif %}
        </div>

        <div class="card">
            <div class="card-body">

                <?= $this->Form->create(${{ singularVar }}) ?>


                <?php
    {% for field in fields if field not in primaryKey %}
        {%- if keyFields[field] %}
            {%- set fieldData = Bake.columnData(field, schema) %}
            {%- if fieldData.null %}
                echo $this->Form->control('{{ field }}', ['options' => ${{ keyFields[field] }}, 'empty' => true]);
                {{- "\n" }}
            {%- else %}
                echo $this->Form->control('{{ field }}', ['options' => ${{ keyFields[field] }}]);
                {{- "\n" }}
                {%- endif %}
            {%- elseif field not in ['created', 'modified', 'updated'] %}
                {%- set fieldData = Bake.columnData(field, schema) %}
                {%- if fieldData.type in ['date', 'datetime', 'time'] and fieldData.null %}
                    echo $this->Form->control('{{ field }}', ['empty' => true]);
                    {{- "\n" }}
                {%- else %}
                    echo $this->Form->control('{{ field }}');
                    {{- "\n" }}
                {%- endif %}
                {%- endif %}
                {%- endfor %}

                {%- if associations.BelongsToMany %}
                    {%- for assocName, assocData in associations.BelongsToMany %}
                        echo $this->Form->control('{{ assocData.property }}._ids', ['options' => ${{ assocData.variable }}]);
                        {{- "\n" }}
                    {%- endfor %}
                {% endif %}
                ?>

                <?= $this->Form->button(__('Submit'), ['class' => 'btn btn-success mb-3']) ?>
                <?= $this->Form->end() ?>

            </div>
        </div>


    </div>
</div>
<!-- END Page Content -->